<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301">支付宝公益网</a></h3>募捐</li>
  <li><h3><a href="http://www.onefoundation.cn/html/cn/beneficence.html">壹基金</a></h3>为他人献出一份爱心！</li>
</ul>
<%- include footer %>